// gallery start

section.section.gallery.no-padding-bottom
	.container
		.row.bottom-50.align-items-end

			.col-md-7.col-lg-6

				.heading.heading--style-2
					span.heading__pre-title Our Gallery
					h2.heading__title.no-margin-bottom #[span Shots]#[br] #[span from our zoo]

			.col-md-5.col-lg-6.text-right.d-none.d-md-block

				a.button.button--primary(href="#") Discover animals

	.row.no-gutters.gallery-masonry

		.col-sm-6.col-md-3.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-1(href="img/gallery_1.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_1.jpg", alt="img")
				.gallery-masonry__description
					span Mamals
					span Giraffes

		.col-sm-6.col-md-6.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-2(href="img/gallery_2.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_2.jpg", alt="img")
				.gallery-masonry__description
					span Mamals
					span Lions

		.col-sm-6.col-md-3.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-3(href="img/gallery_3.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_3.jpg", alt="img")
				.gallery-masonry__description
					span Birds
					span Parrots

		.col-sm-6.col-md-3.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-1(href="img/gallery_4.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_4.jpg", alt="img")
				.gallery-masonry__description
					span Reptiles
					span Lizards

		.col-sm-6.col-md-3.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-1(href="img/gallery_5.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_5.jpg", alt="img")
				.gallery-masonry__description
					span Fishes
					span Clown

		.col-sm-6.col-md-3.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-1(href="img/gallery_6.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_6.jpg", alt="img")
				.gallery-masonry__description
					span Mamals
					span Monkeys

		.col-sm-6.col-md-6.gallery-masonry__item

			a.gallery-masonry__img.gallery-masonry__item--height-4(href="img/gallery_7.jpg" data-fancybox="gallery")
				img.img--bg(src="img/gallery_7.jpg", alt="img")
				.gallery-masonry__description
					span Mamals
					span Elephants

	.container.top-50.d-block.d-md-none
		.row

			.col-12.text-center

				a.button.button--primary(href="#") Discover animals

// gallery end