// promo start

section.promo

	.promo-slider

		.promo-slider__item.promo-slider__item--style-2
			picture
				source(srcset='img/promo_1.jpg', media='(min-width: 992px)')
				img.img--bg(src='img/promo_1.jpg', alt='img')
			.container
				.row
					.col-xl-7
						.align-container
							.align-container__item
								.promo-slider__wrapper-1
									h2.promo-slider__title #[span The Greatest Zoo]#[br]#[span in the World]
								.promo-slider__wrapper-2
									p.promo-slider__subtitle Animals World accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contributing
								.promo-slider__wrapper-3
									a(href="#").button.promo-slider__button.button--primary Discover
	
		.promo-slider__item.promo-slider__item--style-2
			picture
				source(srcset='img/promo_2.jpg', media='(min-width: 992px)')
				img.img--bg(src='img/promo_2.jpg', alt='img')
			.container
				.row
					.col-xl-6.offset-xl-6
						.align-container
							.align-container__item
								.promo-slider__wrapper-1
									h2.promo-slider__title #[span AnimalWorld]#[br] #[span Biggest Cats]
								.promo-slider__wrapper-2
									p.promo-slider__subtitle Animals World accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contributing
								.promo-slider__wrapper-3
									a(href="#").button.promo-slider__button.button--primary Discover

		.promo-slider__item.promo-slider__item--style-3
			picture
				source(srcset='img/promo_3.jpg', media='(min-width: 992px)')
				img.img--bg(src='img/promo_3.jpg', alt='img')
			.container
				.row
					.col-xl-8.offset-xl-2
						.align-container
							.align-container__item
								//- .promo-slider__wrapper-1
								//- 	h2.promo-slider__title #[span Helpo Volounteers]#[br]#[span Around the world.]
								//- .promo-slider__wrapper-2
								//- 	p.promo-slider__subtitle Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfish
								//- .promo-slider__wrapper-3
								//- 	a(href="#").button.promo-slider__button.button--primary Discover

	a.anchor.promo__anchor(href="#about")
		span Scroll Down

	.container
		.row
			.col-12

				// slider nav start

				.promo-slider__nav

				// slider nav end

	// promo pannel start

	.promo-pannel
		.promo-pannel__details
			h6.promo-pannel__title Contact Information
			p #[strong Location:] av. Washington 165, NY CA 54003
			p #[strong Phone:] #[a.promo-pannel__link(href="tel:+31859644725") +31 85 964 47 25] #[a.promo-pannel__link(href="tel:+31859644725") +31 65 792 63 11]
			p #[strong Openning hours:] 9:00 AM - 5:00 PM

		a.video-trigger(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
			img.img--bg(src="img/video-block.jpg", alt="image")
			span.video-trigger__icon
				span Live Cam
				+fa('play')

	// promo pannel end

// promo end