// pricing style-1 start

.row.offset-margin

	.col-sm-6.col-md-4.col-xl-3

		.pricing-item.pricing-item--style-1.text-center
			.pricing-item__top
				.pricing-item__icon
					+svg('adult')
				.pricing-item__subject Adult (12+ yrs)
				.pricing-item__price
					span $
					span 25.00
			.pricing-item__lower
				a.pricing-item__button.button.button--primary(href="#") Buy tickets

	.col-sm-6.col-md-4.col-xl-3

		.pricing-item.pricing-item--style-1.text-center
			.pricing-item__top
				.pricing-item__icon
					+svg('child')
				.pricing-item__subject Child (4-12 yrs)
				.pricing-item__price
					span $
					span 15.00
			.pricing-item__lower
				a.pricing-item__button.button.button--primary(href="#") Buy tickets

	.col-sm-6.col-md-4.col-xl-3

		.pricing-item.pricing-item--style-1.text-center
			.pricing-item__top
				.pricing-item__icon
					+svg('baby')
				.pricing-item__subject Baby (0-3 yrs)
				.pricing-item__price
					span 
					span Free
			.pricing-item__lower
				a.pricing-item__button.button.button--primary(href="#") Buy tickets

	.col-sm-6.col-md-4.col-xl-3

		.pricing-item.pricing-item--style-1.text-center
			.pricing-item__top
				.pricing-item__icon
					+svg('family')
				.pricing-item__subject Family (4-12+ yrs)
				.pricing-item__price
					span $
					span 50.00
			.pricing-item__lower
				a.pricing-item__button.button.button--primary(href="#") Buy tickets

// pricing style-1 end