// front events start

section.section.front-events.background--gray
	.container
		.row

			.col-lg-10.col-xl-7

				.heading.heading--primary.heading--style-2.bottom-50
					span.heading__pre-title Events
					h2.heading__title.no-margin-bottom #[span what happening]#[br] #[span nearest future]

				.nearest-item
					.row.align-items-center

						.col-md-4

							.nearest-item__img
								img.img--bg(src="img/nearest_1.jpg", alt="img")

						.col-md-5

							.nearest-item__description
								a.nearest-item__link(href="#") Owls Show in Land
								span.nearest-item__category Birds

						.col-md-3

							.nearest-item__date
								span 11 - 10 PM
								span 10 November

				.nearest-item
					.row.align-items-center

						.col-md-4

							.nearest-item__img
								img.img--bg(src="img/nearest_2.jpg", alt="img")

						.col-md-5

							.nearest-item__description
								a.nearest-item__link(href="#") Tiger Walking on the Street
								span.nearest-item__category Cats

						.col-md-3

							.nearest-item__date
								span 13 - 15 PM
								span 10 November

				.nearest-item
					.row.align-items-center

						.col-md-4

							.nearest-item__img
								img.img--bg(src="img/nearest_3.jpg", alt="img")

						.col-md-5

							.nearest-item__description
								a.nearest-item__link(href="#") Parrots Photosession
								span.nearest-item__category Parrots

						.col-md-3

							.nearest-item__date
								span 15 - 18 PM
								span 10 November

				a.front-events__button.button.button--primary(href="events.html") See all Events

	.main-event

		img.img--bg(src="img/main-event.jpg", alt="img")

		.main-event__inner

			.heading.heading--primary.heading--style-2
				span.heading__pre-title Main Event
				h2.heading__title #[span MOnkeys day]#[br] #[span in our Zoo]

			p Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish.
			p Thornyhead salamanderfish European minnow zebra trout gray mullet climbing perch ghost carp pelican gulper Blenny barfish false cat shark halibut Dolly Varden trout lake trout. Pelagic cod swordtail

			.main-event__date
				span 14 - 18 PM
				span 10 November

			a.button.main-event__button.button--primary(href="#") Discover

// front events end