// instagram start

section.section.instagram.instagram--front-5

	img.instagram__img(src="img/instagram_img.png", alt="img")

	.container
		.row.align-items-end.bottom-30

			.col-7.col-lg-8
				
				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span #Safariadventures]

			.col-5.col-lg-4.text-right

				span.instagram__icon #[+fa('instagram')]

	.instagram-slider
	
		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_1.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_2.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_3.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_4.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_5.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_6.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_4.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')
	
// instagram end