// blog post start

section.section.blog-post
	.container
		.row

			.col-xl-8.offset-xl-2

				.blog-post__top
					.blog-post__img
						img.img--bg(src="img/blog-post.jpg", alt="img")
					.blog-post__description

						.row.align-items-center

							.col-6

								.blog-post__author
									span.blog-post__author-img
										img.img--bg(src="img/author_3.png", alt="author")
									span.blog-post__author-name Samuel Smith

							.col-6.text-right

								span.blog-post__date 10.01.2019

				p Like many SCZ residents, Daisy didn’t start out at our zoo. She was born at the Birmingham Zoo in 1981, where she was hand-raised by keepers. She also spent several years at Zoo Atlanta, where she gave birth to her first baby.
				p The Species Survival Program assigned Daisy to SCZ in 2009. She’s been here ever since, playing a vital role in our ape population. In 2011, Daisy became a mom for the second time to Kinali, a male who is now 7 years old.
				p Daisy is currently pregnant again, with her new baby expected later this year. If you visit before then, you may notice her taking some naps – growing a baby is exhausting. Orangutans’ pregnancies are almost as long as human ones – about eight and a half months.

				h4.blog-post__title Hertha, is amazing monkey

				p When you see Daisy in person, it may be hard to tell how glad she is to see you. That’s because apes have significantly fewer facial muscles than people – they just aren’t able to be as outwardly expressive as you and me. What might look to you like a frown is usually just a peaceful expression – she is relaxed and happy just to be with you.When you see Daisy in person, it may be hard to tell how glad she is to see you. That’s because apes have significantly fewer facial muscles than people – they just aren’t able to be as outwardly expressive as you and me. What might look to you like a frown is usually just a peaceful expression – she is relaxed and happy just to be with you.
				p And don’t forget to take photos. Daisy can tell when you have your camera or phone out to take her picture, and she loves it. If you show her the photo, she’ll love you even more. It’s important to remember that orangutans are wild animals, but with the right safeguards in place, you can definitely be zoo-pals.

				ul.unordered-list
					li #[strong Warches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.]
					li #[strong A collection of textile samples lay spread out on the table - Samsa]
					li #[strong Fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look]
					li #[strong One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.]

				p Warches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with
				p Warches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

				.blog-post__details

					.row.align-items-center

						.col-md-4.text-center.text-md-left
							.blog-post__author
								span.blog-post__author-img
									img.img--bg(src="img/author_3.png", alt="author")
								span.blog-post__author-name Samuel Smith
						
						.col-md-4.text-center.d-flex.align-items-center.justify-content-center

							.blog-post__comments-count
								+svg('comment')
								span 32

						.col-md-4

							ul.blog-post__socials
								li
									a(href="#")
										+fa('facebook')
								li
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
								li
									a(href="#")
										+fa('instagram')

				h6.comments__trigger 32 Comments

				.comments

					.comments__item
						.comments__item-img
							img.img--bg(src="img/author_1.png", alt="img")
						.comments__item-description
							.row.align-items-center
								
								.col-12.col-sm-4.col-md-3

									span.comments__item-name Ann Miller

								.col-10.col-md-7

									span.comments__item-date 23 Jan'19 02:15PM

								.col-2.text-right

									span.comments__item-action
										+svg('previous')
								
								.col-12

									.comments__item-text
										p Asian carps sailback scorpionfish; dragon goby lemon sole triplefin blenny hog sucker. Smelt sleeper shovelnose sturgeon merluccid hake cow shark herring smelt trout-perch

					.comments__item
						.comments__item-img
							img.img--bg(src="img/author_2.png", alt="img")
						.comments__item-description
							.row.align-items-center
								
								.col-12.col-sm-4.col-md-3

									span.comments__item-name John Walker

								.col-10.col-md-7

									span.comments__item-date 23 Jan'19 02:15PM

								.col-2.text-right

									span.comments__item-action
										+svg('previous')
								
								.col-12

									.comments__item-text
										p Dragon goby lemon sole triplefin blenny hog sucker. Smelt sleeper shovelnose sturgeon merluccid hake cow shark herring smelt trout-perch

						.comments__item.comments__item--sub
							.comments__item-img
								img.img--bg(src="img/author_4.png", alt="img")
							.comments__item-description
								.row.align-items-center

									.col-12.col-sm-4.col-md-3

										span.comments__item-name Helen Dollens

									.col-10.col-md-7

										span.comments__item-date 23 Jan'19 02:15PM

									.col-2.text-right

										span.comments__item-action
											+svg('previous')

									.col-12

										.comments__item-text
											p Cow shark herring smelt trout-perch Asian carps sailback scorpionfish; dragon goby lemon sole triplefin blenny hog sucker. Smelt sleeper shovelnose sturgeon merluccid hake

				h6.blog-post__title.bottom-30 Leave a comment

				form.form.comments-form(action="javascript:void(0);")
					.row

						.col-12

							textarea.form__field.form__message(name="message" placeholder="Text")

						.col-md-6

							input.form__field(type="text" name="first-name" placeholder="Your Name")

						.col-md-6

							input.form__field(type="email" name="email" placeholder="Your Email")

						.col-md-6

							input.form__field(type="tel" name="phone" placeholder="Your Phone")

						.col-md-6

							input.form__field(type="text" name="website" placeholder="Your Website")

						.col-12

							button.form__submit(type="submit") Submit Comment

// blog post end