// main menu start

ul.main-menu

	li.main-menu__item.main-menu__item--has-child(class=(type === "front" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="javascript:void(0);")
			span Home

		// sub menu start
		ul.main-menu__sub-list
			li(class=(page === "index" ? "item--active" : undefined))
				a(href="index.html")
					span Home Zoo
			li(class=(page === "front_2" ? "item--active" : undefined))
				a(href="front_2.html") 
					span Home Aquarium
			li(class=(page === "front_3" ? "item--active" : undefined))
				a(href="front_3.html")
					span Home Terrarium
			li(class=(page === "front_4" ? "item--active" : undefined))
				a(href="front_4.html")
					span Home Animal Protections
			li(class=(page === "front_5" ? "item--active" : undefined))
				a(href="front_5.html")
					span Home Safari
			li(class=(page === "front_6" ? "item--active" : undefined))
				a(href="front_6.html")
					span Home Shop
		// sub menu end

	li.main-menu__item.main-menu__item--has-child(class=(dest === "pages" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="javascript:void(0);")
			span Pages

		// sub menu start

		ul.main-menu__sub-list.sub-list--style-2
			li(class=(page === "about" ? "item--active" : undefined))
				a(href="about.html")
					span About
			li(class=(page === "services" ? "item--active" : undefined))
				a(href="services.html")
					span Services
			li(class=(page === "blog-details" ? "item--active" : undefined))
				a(href="blog-details.html")
					span Blog Details
			li(class=(page === "gallery" ? "item--active" : undefined))
				a(href="gallery.html")
					span Gallery
			li(class=(page === "gallery_2" ? "item--active" : undefined))
				a(href="gallery_2.html")
					span Gallery v.2
			li(class=(page === "calendar" ? "item--active" : undefined))
				a(href="calendar.html")
					span Calendar
			li(class=(page === "membership" ? "item--active" : undefined))
				a(href="membership.html")
					span Membership
			li(class=(page === "events" ? "item--active" : undefined))
				a(href="events.html")
					span Events
			li(class=(page === "event-details" ? "item--active" : undefined))
				a(href="event-details.html")
					span Event Details
			li(class=(page === "tickets" ? "item--active" : undefined))
				a(href="tickets.html")
					span Tickets
			li(class=(page === "foundation" ? "item--active" : undefined))
				a(href="foundation.html")
					span Foundation
			li(class=(page === "education" ? "item--active" : undefined))
				a(href="education.html")
					span Education
			li(class=(page === "donation" ? "item--active" : undefined))
				a(href="donation.html")
					span Donation
			li(class=(page === "donation-details" ? "item--active" : undefined))
				a(href="donation-details.html")
					span Donation Details
			li(class=(page === "animals" ? "item--active" : undefined))
				a(href="animals.html") 
					span Animals
			li(class=(page === "animal-details" ? "item--active" : undefined))
				a(href="animal-details.html") 
					span Animal Details
			li(class=(page === "safari-tours" ? "item--active" : undefined))
				a(href="safari-tours.html") 
					span Safari Tours
			li(class=(page === "tour-details" ? "item--active" : undefined))
				a(href="tour-details.html") 
					span Tour Details
			li(class=(page === "typography" ? "item--active" : undefined))
				a(href="typography.html") 
					span Typography
			li(class=(page === "faq" ? "item--active" : undefined))
				a(href="faq.html")
					span FAQ
			li(class=(page === "map" ? "item--active" : undefined))
				a(href="map.html")
					span Map
			li(class=(page === "404" ? "item--active" : undefined))
				a(href="404.html")
					span 404 Page

		// sub menu end

	li.main-menu__item(class=(page === "blog" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="blog.html")
			span Blog

	li.main-menu__item.main-menu__item--has-child(class=(dest === "shop" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="javascript:void(0);")
			span Shop

		// sub menu start

		ul.main-menu__sub-list
			li(class=(page === "catalog" ? "item--active" : undefined))
				a(href="shop-catalog.html")
					span Shop Catalog
			li(class=(page === "single" ? "item--active" : undefined))
				a(href="shop-product.html")
					span Shop Product
			li(class=(page === "cart" ? "item--active" : undefined))
				a(href="shop-cart.html")
					span Shop Cart
			li(class=(page === "checkout" ? "item--active" : undefined))
				a(href="shop-checkout.html")
					span Shop Checkout
			li(class=(page === "account" ? "item--active" : undefined))
				a(href="shop-account.html")
					span Shop Account

		// sub menu end

	li.main-menu__item(class=(page === "contacts" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="contacts.html")
			span Contacts

	li.main-menu__item.main-menu__item--has-child(class=(dest === "elements" ? "main-menu__item--active" : undefined))
		a.main-menu__link(href="javascript:void(0);")
			span Elements

		// sub menu start
		
		ul.main-menu__sub-list.sub-list--style-2
			li(class=(page === "accordion" ? "item--active" : undefined))
				a(href="accordion.html")
					span Accordion
			li(class=(page === "charts" ? "item--active" : undefined))
				a(href="charts.html")
					span Charts
			li(class=(page === "alerts" ? "item--active" : undefined))
				a(href="alerts.html")
					span Alerts
			li(class=(page === "counters" ? "item--active" : undefined))
				a(href="counters.html")
					span Counters
			li(class=(page === "logos" ? "item--active" : undefined))
				a(href="logos.html")
					span Logos
			li(class=(page === "forms" ? "item--active" : undefined))
				a(href="forms.html")
					span Forms
			li(class=(page === "tabs" ? "item--active" : undefined))
				a(href="tabs.html")
					span Tabs
			li(class=(page === "buttons" ? "item--active" : undefined))
				a(href="buttons.html")
					span Buttons
			li(class=(page === "paginations" ? "item--active" : undefined))
				a(href="paginations.html")
					span Paginations
			li(class=(page === "team" ? "item--active" : undefined))
				a(href="team.html")
					span Team
			li(class=(page === "breadcrumbs" ? "item--active" : undefined))
				a(href="breadcrumbs.html")
					span Bread Crumbs
			li(class=(page === "icon-list" ? "item--active" : undefined))
				a(href="icon-list.html")
					span Icon List
			li(class=(page === "pricing-tables" ? "item--active" : undefined))
				a(href="pricing-tables.html")
					span Pricing Tables
			li(class=(page === "testimonials" ? "item--active" : undefined))
				a(href="testimonials.html")
					span Testimonials

		// sub menu end

// main menu end