// section start

section.section.event-details

	.event-details__bg
		img(src="img/event-details_bg.png", alt="img")

	.container

		.row

			.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3

				.row.bottom-50

					.col-sm-4

						h6.event-details__title April 11

						p Thursday, 9 AM–2 PM

					.col-sm-4

						h6.event-details__title At the Zoo
						
						p.font--bold Directions

					.col-sm-4

						h6.event-details__title Free

						p.font--bold with Zoo admission

				.event-details__img
					img.img--bg(src="img/event-details_img.jpg", alt="img")
				p #[strong Jump, bounce, leap and hop to the Zoo for Easter Weekend to enjoy a fun-filled spring day and Easter-themed activities all weekend long!]
				p As you come in, look over the schedule card that is included with your Zoo map for all of the day’s special activities.
				p Spring is a time of new beginnings, which makes Easter Weekend the perfect opportunity to celebrate the Zoo’s youngest animals, like orangutans, kudus, giraffes and lemurs! Learn more about our youngsters through special signs at exhibits that feature fun facts, written by their Keepers, about some of the Zoo’s youngest residents.
				p Of course, it wouldn’t be Easter without an egg hunt, but here at the Zoo we add a “wild” spin on the tradition with NO BASKET REQUIRED. Join in the fun to find the large Zoo-themed eggs hidden throughout the Zoo and White River Gardens. Simply make note of the locations of at least 10 of the 19 eggs to receive a special prize from the White River Gardens Gift Shop.
				p Easter Weekend is sure to be a fun spring day at the Zoo for the whole family! Activities are free for Zoo members and included with regular Zoo admission.

		.row.top-50
		
			.col-12.text-center

				a.button.button--primary(href="#") Buy tickets

// section end