// front services start

section.section.front-services

	img.section__bg.t0.l0(src="img/front-services__bg.jpg", alt="bg")

	.container
		.row.bottom-70

			.col-md-5.bottom-30

				.heading.heading--primary.heading--style-2
					span.heading__pre-title Services
					h2.heading__title #[span Special Services]#[br] #[span for our guests]

				a.button.button--primary.d-none.d-md-inline-block(href="#") All Services

			.col-md-7

				.app-block

					.app-block__icon
						+svg('smartphone')
	
					h6.app-block__title Mobile App of Animal World Zoo
					p.no-margin-bottom Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish
	
		.row.offset-margin

			.col-sm-6.col-lg-3

				.icon-item

					.icon-item__icon
						+svg('photo-camera')
					h6.icon-item__title Photos with Animals
					p Rudderfish long-finned pike razorfish menhaden paradise fish, barramundi oceanic flyingfish blenny desert.

			.col-sm-6.col-lg-3

				.icon-item

					.icon-item__icon
						+svg('cutlery')
					h6.icon-item__title Restaraunts & Fast Foods
					p Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish

			.col-sm-6.col-lg-3

				.icon-item

					.icon-item__icon
						+svg('wifi')
					h6.icon-item__title Free Wi-Fi with Hi Speed
					p Lake trout, squeaker, spiny eel bala shark rice eel rohu medaka. Rudd convict blenny ray redside Rabbitfish;

			.col-sm-6.col-lg-3

				.icon-item

					.icon-item__icon
						+svg('trophy')
					h6.icon-item__title Many Competitions
					p Desea Cat shark worm eel lenok, beachsalmon: ronquil requiem shark loach goby sucker Black scalyfin rock

		.row.top-50.d-flex.d-md-none
			.col-12.text-center
				a.button.button--primary(href="#") All Services

// front services end