// dual slider start

.dual-slider

	.main-slider

		.main-slider__item
			.main-slider__img
				img.img--contain(src="img/single_1.png", alt="single")
		.main-slider__item
			.main-slider__img
				img.img--contain(src="img/single_2.png", alt="single")
		.main-slider__item
			.main-slider__img
				img.img--contain(src="img/single_3.png", alt="single")


	.nav-slider

		.nav-slider__item
			.nav-slider__img
				img.img--contain(src="img/single_s1.png", alt="single")
		.nav-slider__item
			.nav-slider__img
				img.img--contain(src="img/single_s2.png", alt="single")
		.nav-slider__item
			.nav-slider__img
				img.img--contain(src="img/single_s3.png", alt="single")

// dual slider end