// footer start

footer.footer
	img.footer__bg.img--bg(src="img/background__layout.png" alt="bg")
	.container
		.row.bottom-50

			.col-md-5.col-xl-4.text-center.text-md-left

				a.logo.logo--footer(href="index.html")
					img.logo__img(src="img/logo_zoo_white.png" alt="logo")

				.footer__details

					p #[strong Location:] #[span av. Washington 165, NY CA 54003]
					p #[strong Phone:] #[a(href="tel:+31859644725") +31 85 964 47 25] #[a(href="tel:+31859644725") +31 65 792 63 11]
					p #[strong Email:] #[a(href="mailto:info@animalsworld.com") info@animalsworld.com]
					p #[strong Openning hours:] #[span 9:00 AM - 5:00 PM]

				ul.socials
					li.socials__item
						a.socials__link(href="#") #[+fa('facebook')]
					li.socials__item
						a.socials__link(href="#") #[+fa('twitter')]
					li.socials__item
						a.socials__link(href="#") #[+fa('youtube-play')]
					li.socials__item
						a.socials__link(href="#") #[+fa('instagram')]

			.col-md-7.col-xl-5.d-none.d-md-block

				h6.footer__title Menu & Links

				ul.footer-menu
					li.footer-menu__item
						a.footer-menu__link(href="#") Home
					li.footer-menu__item
						a.footer-menu__link(href="#") Membership 
					li.footer-menu__item
						a.footer-menu__link(href="#") Pages
					li.footer-menu__item
						a.footer-menu__link(href="#") Education
					li.footer-menu__item
						a.footer-menu__link(href="#") Animals
					li.footer-menu__item
						a.footer-menu__link(href="#") Support
					li.footer-menu__item
						a.footer-menu__link(href="#") Schedule
					li.footer-menu__item
						a.footer-menu__link(href="#") Events
					li.footer-menu__item
						a.footer-menu__link(href="#") Gallery
					li.footer-menu__item
						a.footer-menu__link(href="#") Blog
					li.footer-menu__item
						a.footer-menu__link(href="#") Contacts
					li.footer-menu__item
						a.footer-menu__link(href="#") Donate
					li.footer-menu__item
						a.footer-menu__link(href="#") Foundation
					li.footer-menu__item
						a.footer-menu__link(href="#") Tickets

				ul.footer-submenu
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Documents
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Association of Zoo
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Aqurium
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Terrarium
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Terra Park
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Cooperation
					li.footer-submenu__item
						a.footer-submenu__link(href="#") Libriry

			.col-lg-3.d-none.d-xl-block

				h6.footer__title #[span Instagram] #[+fa('instagram')]

				.footer-instagram
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-1.jpg" alt="ig")
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-2.jpg" alt="ig")
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-3.jpg" alt="ig")
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-4.jpg" alt="ig")
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-5.jpg" alt="ig")
					a.footer-instagram__item(href="#")
						.footer-instagram__img
							img.img--bg(src="img/f_ig-6.jpg" alt="ig")

		.row.align-items-center

			.col-sm-6.text-center.text-sm-left

				.footer-privacy
					a.footer-privacy__link(href="#") Privacy Policy
					span.footer-privacy__divider |
					a.footer-privacy__link(href="#") Term and Condision

			.col-sm-6.text-center.text-sm-right

				a.footer__link(href="#")
					img(src="img/footer-logo.png", alt="logo")

// footer end