// filter panel start

ul.filter-panel
	li.filter-panel__item
		span Invertebrates
	li.filter-panel__item
		span Bulls
	li.filter-panel__item
		span Girafes
	li.filter-panel__item.filter-panel__item--active
		span Mammals
	li.filter-panel__item
		span Birds
	li.filter-panel__item
		span Fishes

// filter panel end