// info block start

section.section.info-block
	img.img--bg(src="img/info-block.jpg" alt="img")
	.container
		.row

			.col-xl-6

				.heading.heading--primary
					h2.heading__title.color--white #[span It`s cool to be] #[br]#[span our member]
					p.color--white Zebra oto pikeperch yellow jack nibbler ronquil duckbill round stingray greenling eulachon: grunt sculpin.flounder bleak gouramie algae eater gurnard	
					a.info-block__button.button.button--primary(href="#") Become a member

// info block end