// pricing style-2 start

.row
	.col-lg-12

		.pricing-item.pricing-item--style-2
			.row.align-items-center
				.col-lg-3
					h6.pricing-item__plan Single Plus
				.col-lg-4.col-xl-5
					span 1 adult | 1 FREE guest/visit
				.col-lg-2.text-center
					.pricing-item__price 96.00$
				.col-lg-3.col-xl-2.text-lg-right
					a.pricing-item__button.button.button--primary(href="#") Choose

	.col-lg-12

		.pricing-item.pricing-item--style-2.pricing-item--selected
			.row.align-items-center
				.col-lg-3
					h6.pricing-item__plan Household
				.col-lg-4.col-xl-5
					span 2 adults | Children in household
				.col-lg-2.text-center
					.pricing-item__price 139.00$
				.col-lg-3.col-xl-2.text-lg-right
					a.pricing-item__button.button.button--primary(href="#") Choose

	.col-lg-12

		.pricing-item.pricing-item--style-2
			.row.align-items-center
				.col-lg-3
					h6.pricing-item__plan Household Plus
				.col-lg-4.col-xl-5
					span 2 adults | Children in household | 1 FREE guest/visit
				.col-lg-2.text-center
					.pricing-item__price 159.00$
				.col-lg-3.col-xl-2.text-lg-right
					a.pricing-item__button.button.button--primary(href="#") Choose

// pricing style-2 end