extends ../layouts/primary.pug

block variables

	-var page = 'calendar'
	
	-var dest = 'pages'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	// promo start

	section.promo-primary

		picture
			source(srcset='img/calendar.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/calendar.jpg' alt='img')

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Wild World
							h1.promo-primary__title #[span Zoo] #[span Calendar]

	// promo end

	include ../blocks/_calendar/_calendar

block footer

	include ../blocks/_footer/_footer