extends ../layouts/primary.pug

block variables

	-var page = 'event-details'

	-var dest = 'pages'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	// promo start

	section.promo-primary

		picture
			source(srcset='img/event-details.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/event-details.jpg' alt='img')

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Wild World
							h1.promo-primary__title #[span PARTY FOR] #[span THE PLANET]

	// promo end

	include ../blocks/_event-details/_event-details

	// section start

	section.section.no-padding-top.no-padding-bottom
		.row.no-gutters

			.col-lg-6

				a.action-block(href="#")
					.action-block__inner
						img.img--bg(src="img/action-block_6.jpg" alt="img")
						h3.action-block__title #[span Zoo]#[br] #[span Calendar]

			.col-lg-6

				a.action-block(href="#")
					.action-block__inner
						img.img--bg(src="img/action-block_7.jpg" alt="img")
						h3.action-block__title #[span Our]#[br] #[span Blog]

	// section end

block footer

	include ../blocks/_footer/_footer