extends ../layouts/primary.pug

block variables

	-var page = 'index'

	-var type = 'front'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	include ../blocks/_promo/_promo

	// section start

	section#about.section.about-front.no-padding-bottom
		img.about-front__bg.t50.r0(src="img/about_bg.png" alt="img")
		.container
			.row.flex-column-reverse.flex-lg-row

				.col-lg-6.col-xl-5

					.info-box
						.info-box__inner
							img.img--bg(src="img/about-us.jpg" alt="img")
							.heading.heading--primary
								span.heading__pre-title Donation
								h2.heading__title.color--white #[span Help us more]#[br] #[span protect animals] 
							p Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish.
							a.info-box__link(href="volunteer.html") Donate!

				.col-lg-6.col-xl-6.offset-xl-1

					.heading.heading--primary.heading--style-2
						span.heading__pre-title About ZOO
						h2.heading__title #[span Words about]#[br] #[span Animal World Zoo]

					p #[strong Ghost pipefish yellow bass New Zealand sand diver eulachon brook lamprey driftfish, Atlantic trout. Mudfish: blue eye, arrowtooth eel french angelfish yellowfin pike unicorn fish.]
					p.bottom-50 Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny     

					.row.offset-30

						.col-6.col-sm-3

							.brand-item.bottom-30
								img.brand-item__img(src="img/logo_1.png" alt="logo")

						.col-6.col-sm-3

							.brand-item.bottom-30
								img.brand-item__img(src="img/logo_2.png" alt="logo")

						.col-6.col-sm-3

							.brand-item.bottom-30
								img.brand-item__img(src="img/logo_3.png" alt="logo")

						.col-6.col-sm-3

							.brand-item.bottom-30
								img.brand-item__img(src="img/logo_4.png" alt="logo")

					a.button.button--primary.top-50(href="#") More about

	// section end

	// section start

	section.section.no-padding-bottom

		.container
			.row.align-items-end.bottom-70

				.col-xl-7

					.heading.heading--primary.heading--style-2
						span.heading__pre-title Our animals
						h2.heading__title #[span Awesome AnimalS in] #[span our Zoo]
						p Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.                 

				.col-xl-5.d-none.d-xl-block

					.row

						.col-md-4

							.counter-item.counter-item--front-1
								.counter-item__top
									h6.counter-item__title Reptiles
								.counter-item__lower
									span.js-counter 850

						.col-md-4

							.counter-item.counter-item--front-1
								.counter-item__top
									h6.counter-item__title Species
								.counter-item__lower
									span.js-counter 230

						.col-md-4

							.counter-item.counter-item--front-1
								.counter-item__top
									h6.counter-item__title Visitors
								.counter-item__lower
									span.js-counter 160.000

			.row.offset-30

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--orange.color--primary(href="#")
						.animal-item__icon.color--primary
							+svg('spider')
						h6.animal-item__title Invertebrates

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--gray.color--primary(href="#")
						.animal-item__icon
							+svg('bull')
						h6.animal-item__title Bulls

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--dark.color--white(href="#")
						.animal-item__icon
							+svg('giraffe')
						h6.animal-item__title Girafes

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--orange.color--primary(href="#")
						.animal-item__icon
							+svg('elep')
						h6.animal-item__title Mammals

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--gray.color--primary(href="#")
						.animal-item__icon
							+svg('bird')
						h6.animal-item__title Birds

				.col-sm-6.col-md-4.col-xl-2

					a.animal-item.text-center.background--dark.color--white(href="#")
						.animal-item__icon
							+svg('fish')
						h6.animal-item__title Fishes

	// section end

	include ../blocks/_gallery/_gallery

	include ../blocks/_front-services/_front-services

	include ../blocks/_front-events/_front-events

	// section start

	section.section

		img.section__bg.t50.r0(src="img/testimonials_bg.png" alt="bg")

		.testimonials.testimonials--style-1
			.container
				.row

					.col-lg-3.d-none.d-lg-block

						.testimonials__img
							img.img--bg(src="img/man.jpg", alt="img")

					.col-lg-9

						.row.align-items-center

							.col-md-7

								.heading.heading--primary
									span.heading__pre-title Testimonials
									h2.heading__title #[span What People#[br] Says] #[span About Us]
							
							.col-md-5

								.testimonials--style-1__dots.text-md-right

						.row

							.col-12

								.testimonials-slider.testimonials-slider--style-1

									.testimonials-slider__item
										.testimonials-slider__text
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.

										.testimonials-slider__details
											span.testimonials-slider__name John Maclein

									.testimonials-slider__item
										.testimonials-slider__text
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.

										.testimonials-slider__details
											span.testimonials-slider__name John Maclein

									.testimonials-slider__item
										.testimonials-slider__text
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
											p Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.

										.testimonials-slider__details
											span.testimonials-slider__name John Maclein

	// section end

	// section start

	section.section.no-padding-top.no-padding-bottom
		.map-banner
			img.img--bg(src="img/cta_bg.jpg" alt="img")
			.container
				.row

					.col-lg-6

						.align-container
							.align-container__item

								.heading.heading--primary
									h2.heading__title.no-margin-bottom #[span Map of Animals world] #[span Zoo]

								a.button.button--primary(href="#") See map

	// section end

	// section start

	section.section
		.container
			.row.bottom-50

				.col-12

					.heading.heading--primary.heading--center
						span.heading__pre-title Our partners
						h2.heading__title.no-margin-bottom #[span People Who] #[span Trust Us]

			.row

				.col-12

					.logos-slider

						.logos-slider__item
							img(src="img/logo_1.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_2.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_3.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_4.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_5.png" alt="logo")

					.logos-slider__dots

	// section end

	// section start

	section.section.no-padding-top.no-padding-bottom
		.row.no-gutters

			.col-lg-6

				a.action-block(href="#")
					.action-block__inner
						img.img--bg(src="img/action-block_1.jpg" alt="img")
						h3.action-block__title #[span The Biggest Aquarium]#[br] #[span in America]

			.col-lg-6

				a.action-block(href="#")
					.action-block__inner
						img.img--bg(src="img/action-block_2.jpg" alt="img")
						h3.action-block__title #[span Amazing Terrarium]#[br] #[span in Europe]

	// section end

block footer

	include ../blocks/_footer/_footer