extends ../layouts/primary.pug

block variables

	-var page = 'services'

	-var dest = 'pages'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	// promo start

	section.promo-primary

		picture
			source(srcset='img/services.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/services.jpg' alt='img')

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Wild World
							h1.promo-primary__title #[span Awesome] #[span Services]

	// promo end

	include ../blocks/_video-block/_video-block

	// front services start
	
	section.section.front-services.no-padding-bottom
		.container
			.row.bottom-70
	
				.col-lg-5
	
					.heading.heading--primary.heading--style-2
						span.heading__pre-title Services
						h2.heading__title #[span Special Services]#[br] #[span for our guests]
	
				.col-lg-7
	
					.app-block

						.app-block__icon
							+svg('smartphone')
	
						h6.app-block__title Mobile App of Animal World Zoo
						p.no-margin-bottom Rudderfish long-finned pike--razorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish
	
			.row.offset-margin
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('photo-camera')
						h6.icon-item__title Photos with Animals
						p Rudderfish long-finned pike razorfish menhaden paradise fish, barramundi oceanic flyingfish blenny desert.
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('cutlery')
						h6.icon-item__title Restaraunts & Fast Foods
						p Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('wifi')
						h6.icon-item__title Free Wi-Fi with Hi Speed
						p Lake trout, squeaker, spiny eel bala shark rice eel rohu medaka. Rudd convict blenny ray redside Rabbitfish;
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('trophy')
						h6.icon-item__title Many Competitions
						p Desea Cat shark worm eel lenok, beachsalmon: ronquil requiem shark loach goby sucker Black scalyfin rock
				
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('information')
						h6.icon-item__title Many Competitions
						p Desea Cat shark worm eel lenok, beachsalmon: ronquil requiem shark loach goby sucker Black scalyfin rock
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('support')
						h6.icon-item__title Free Wi-Fi with Hi Speed
						p Lake trout, squeaker, spiny eel bala shark rice eel rohu medaka. Rudd convict blenny ray redside Rabbitfish; 
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('tickets')
						h6.icon-item__title Restaraunts & Fast Foods
						p Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish
	
				.col-sm-6.col-lg-4.col-xl-3
	
					.icon-item
	
						.icon-item__icon
							+svg('partnership')
						h6.icon-item__title Photos with Animals
						p Rudderfish long-finned pike razorfish menhaden paradise fish, barramundi oceanic flyingfish blenny desert
	
	// front services end

	// section start

	section.section
		.container
			.row.bottom-50

				.col-12

					.heading.heading--primary.heading--center
						span.heading__pre-title Our partners
						h2.heading__title.no-margin-bottom #[span People Who] #[span Trust Us]

			.row

				.col-12

					.logos-slider

						.logos-slider__item
							img(src="img/logo_1.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_2.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_3.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_4.png" alt="logo")

						.logos-slider__item
							img(src="img/logo_5.png" alt="logo")

					.logos-slider__dots

	// section end

block footer

	include ../blocks/_footer/_footer