// typography start

.cta-block

	.container
		.row.align-items-center
			.col-lg-8

				p.cta-block__text #[strong Ghost pipefish yellow bass New Zealand sand diver eulachon brook lamprey driftfish, Atlantic trout. Mudfish: blue eye, arrowtooth eel french angelfish yellowfin pike unicorn fish.]  Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish

			.col-lg-4.text-left.text-lg-right

				a.cta-block__button(href="#") More about

section.section.typography
	.container
		.row.bottom-30

			.col-12

				h1 H1 Heading
				h2 H2 Heading
				h3 H3 Heading
				h4 H4 Heading
				h5 H5 Heading
				h6.margin-bottom H6 Heading

		.row
			.col-12

				p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel.]

				p.no-margin-bottom Minnow snoek icefish velvet-belly shark, California halibut #[a(href="#") round stingray northern sea robin]. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish #[s Modoc sucker, yellowtail kingfish basslet.] Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Drop] #[span Caps]
		.row

			.col-12

				.dropcap
					p.dropcap__text African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin thresher shark rudd. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span List] #[span Style]

		.row

			.col-md-6.col-lg-4

				ul.unordered-list
					li Streamer fish California halibut 
					li Pacif Slickhead grunion lake trout.
					li Canthigaster rostrata spikefish
					li Brown trout loach summer flounder
					li European minnow black dragonfish
					li Orbicular batfish stingray

			.col-md-6.col-lg-4

				ol.ordered-list
					li Streamer fish California halibut 
					li Pacif Slickhead grunion lake trout.
					li Canthigaster rostrata spikefish
					li Brown trout loach summer flounder
					li European minnow black dragonfish
					li Orbicular batfish stingray

section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span 1/2 Two] #[span Columns]
		.row

			.col-12

				.two-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish;
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden orbicular velvetfish

section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span 1/3 Three] #[span Columns]
		.row

			.col-12

				.three-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; 
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark
					p Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose
				
section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span 1/4 Four] #[span Columns]
		.row

			.col-12

				.four-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand
					p Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden 
					p Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				p.text-filled Ghost pipefish yellow bass New Zealand sand diver eulachon brook lamprey driftfish, Atlantic trout. Mudfish: blue eye, arrowtooth eel french angelfish yellowfin pike unicorn fish.  Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin

section.section.typography.no-padding-top
	.container
		.row.bottom-30

			.col-12

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Block] #[span Quote]
		.row

			.col-12

				blockquote.blockquote
					p.blockquote__text Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout Chinook salmon bramble shark sand stargazer Steve fish.  Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet

// typography end