// video block start

section.section.video-block.no-padding-bottom
	.container
		.row.bottom-70
	
			.col-lg-5
	
				.heading.heading--primary.heading--style-2
					span.heading__pre-title Zoo Services
					h2.heading__title #[span Words about]#[br] #[span Animal World Zoo]
	
			.col-lg-7

				p #[strong Here at Ventura Wildlife our Zoological Services division has a wealth of knowledge and expertise to share. Ventura Wildlife’s Zoological services provides a range of specialist services and solutions designed to assist zoological establishments and animal keepers around the world.]
				p.no-margin-bottom Led by Ashley Palmier, Director of Ventura Wildlife, our qualified consultancy team, together with our expert partners and associates offer a range of consultancy based services.

		.row
			.col-12
				.video-frame
					img.img--bg(src="img/video-frame.jpg", alt="frame")
					a.video-trigger.video-frame__trigger(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
						span.video-frame__icon
							+fa('play')
						span.video-frame__text Video Presentation

// video block end