// section start

section.section.tours
	.container
		.row.align-items-center.bottom-30

			.col-12

				// filter panel start
				ul.filter-panel.justify-content-start
					li.filter-panel__item.filter-panel__item--active
						span All destinations
					li.filter-panel__item
						span Bostwana
					li.filter-panel__item
						span Kenya
					li.filter-panel__item
						span South Africa
					li.filter-panel__item
						span Uganda
					li.filter-panel__item
						span Tanzania
					li.filter-panel__item
						span Mozambique
				// filter panel end

		.row

			.col-sm-6.col-xl-4.bottom-30

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_1.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title Find an #[br] #[span cool safari]
						.tours-item__price 125.99 USD
						.tours-item__edition Limited Edition
						a.tours-item__link(href="#") Read more

			.col-sm-6.col-xl-4.bottom-30

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_2.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title meet rare #[br] #[span animals]
						.tours-item__price 225.99 USD
						.tours-item__edition Standart Edition
						a.tours-item__link(href="#") Read more

			.col-sm-6.col-xl-4.bottom-30

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_3.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title get memories #[br] #[span for life]
						.tours-item__price 555.99 USD
						.tours-item__edition Premium Edition
						a.tours-item__link(href="#") Read more

			.col-sm-6.col-xl-4.bottom-30

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_4.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title fascinating #[br] #[span adventure]
						.tours-item__price 125.99 USD
						.tours-item__edition Limited Edition
						a.tours-item__link(href="#") Read more

			.col-sm-6.col-xl-4.bottom-30

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_5.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title BeAuty of #[br] #[span nature]
						.tours-item__price 225.99 USD
						.tours-item__edition Standart Edition
						a.tours-item__link(href="#") Read more

			.col-sm-6.col-xl-4

				.tours-item
					.tours-item__img
						img.img--bg(src="img/tour_6.jpg", alt="img")
					.tours-item__details
						h4.tours-item__title night #[br] #[span safari]
						.tours-item__price 555.99 USD
						.tours-item__edition Premium Edition
						a.tours-item__link(href="#") Read more

// section end