extends ../layouts/primary.pug

block variables

	-var page = 'icon-list'

	-var dest = 'elements'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	// promo start

	section.promo-primary

		picture
			source(srcset='img/elements.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/elements.jpg' alt='img')

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Wild World
							h1.promo-primary__title #[span Element] #[span Icons]

	// promo end

	// section start

	section.section.elements.no-padding-bottom

		.container
			.row
				.col-xl-10
					h4.elements__title Variant 1

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/ant-eater.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Ant Eater

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/badger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Badger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/buffalo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Buffalo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/elephant.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Elephant

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/fennec.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fennec

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/fox.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fox

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/giraffe.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Giraffe

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/hippopotamus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hippopotamus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/hog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/jaguar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Jaguar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/moose.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Moose

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/panda.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/racoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/rhinoceros.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhinoceros

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/sloth.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sloth

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/snake.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Snake

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/squirrel.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Squirrel

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/wild-horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wild Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/forest-animals/zebra.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Zebra

	// section end

	// section start

	section.section.elements.no-padding-bottom

		.container
			.row

				.col-xl-10

					h4.elements__title Variant 2

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/afghan-hound.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Afghan Hound

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/anteater.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Anteater

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/antelope.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Antelope

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/baboon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Baboon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom bat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bear-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bear-2.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bird.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bird

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bird-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bird

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bird-2.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bird

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/boar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Boar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/buffalo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Buffalo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/bulldog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bulldog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/calf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Calf

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/camel.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Camel

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/cat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/cat-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/chicken.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chicken

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/chihuahua.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chihuahua

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/cobra.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cobra

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/cow.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cow

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/dog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/dog-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/dove.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dove

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/duck.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Duck

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/eagle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Eagle

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/elephant.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Elephant

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/frog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Frog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/gazelle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gazelle

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/giraffe.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Giraffe

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/giraffe-2.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Giraffe

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/giraffe-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Giraffe

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/goat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Goat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/goat-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Goat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/hamster.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hamster

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/hamster-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hamster

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/hippopotamus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hippopotamus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/leopard.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Leopard

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/lion-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/lynx.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lynx

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/monkey-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/monkey-2.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/mouse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Mouse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/orangutan.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Orangutan

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/owl.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Owl

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/panda.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/panther.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panther

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/pekingese.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pekingese

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/pig.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/pig-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/pit-bull.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pit Bull

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/poodle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Poodle

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/puma.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Puma

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/racoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/rat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/reindeer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Reindeer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/reindeer-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Reindeer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/rhinoceros.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhinoceros

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/seal.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Seal

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/sheep.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sheep

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/snake.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Snake

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/swan.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Swan

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/tiger-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/turtle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Turtle

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/unicorn.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Unicorn

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/walrus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Walrus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/weasel.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Weasel

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals/wolf-1.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

	// section end

	// section start

	section.section.elements.no-padding-bottom

		.container
			.row

				.col-xl-10

					h4.elements__title Variant 3

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/001-baboon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Baboon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/002-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/003-bison.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bison

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/004-boar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Boar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/005-buffalo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Buffalo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/006-cat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/007-chipmunk.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chipmunk

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/008-deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/009-dog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/010-elephant.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Elephant

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/011-fox.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fox

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/012-gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/013-hamster.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hamster

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/014-horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/015-jaguar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Jaguar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/016-kangaroo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Kangaroo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/017-koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/018-lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/019-mole.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Mole

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/020-monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/021-panda-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/022-pig.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/023-rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/024-racoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/025-rat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/026-rhino.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhino

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/027-sheep.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sheep

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/028-tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/029-walrus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Walrus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_2/030-wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

	// section end

	// section start

	section.section.elements.no-padding-bottom

		.container
			.row

				.col-xl-10

					h4.elements__title Variant 4

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/001-baboon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Baboon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/002-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/003-bison.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bison

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/004-boar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Boar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/005-buffalo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Buffalo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/007-chipmunk.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chipmunk

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/008-deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/009-dog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/010-elephant.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Elephant

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/011-fox.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fox

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/012-gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/013-hamster.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hamster

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/014-horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/015-jaguar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Jaguar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/016-kangaroo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Kangaroo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/017-koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/018-lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/019-mole.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Mole

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/020-monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/021-panda-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/022-pig.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/023-rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/024-racoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/025-rat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/026-rhino.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhino

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/027-sheep.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sheep

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/028-tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/029-walrus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Walrus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_3/030-wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

	// section end

	// section start

	section.section.elements.no-padding-bottom

		.container
			.row

				.col-xl-10

					h4.elements__title Variant 5

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/001-baboon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Baboon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/002-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/003-bison.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bison

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/004-boar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Boar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/005-buffalo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Buffalo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/006-cat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/007-chipmunk.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chipmunk

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/008-deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/009-dog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/010-elephant.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Elephant

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/011-fox.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fox

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/012-gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/013-hamster.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hamster

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/014-horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/015-jaguar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Jaguar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/016-kangaroo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Kangaroo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/017-koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/018-lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/019-mole.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Mole

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/020-monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/021-panda-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/022-pig.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/023-rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/024-racoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/025-rat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/026-rhino.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhino

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/027-sheep.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sheep

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/028-tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/029-walrus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Walrus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_4/030-wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

	// section end

	// section start

	section.section.elements

		.container
			.row

				.col-xl-10

					h4.elements__title Variant 6

			.row.offset-margin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/001-mole.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Mole

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/002-wolf.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Wolf

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/003-raccoon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Racoon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/004-badger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Badger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/005-sheep.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sheep

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/006-bear.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bear

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/007-koala.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Koala

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/008-bull.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bull

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/009-bat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/010-fox.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Fox

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/011-penguin.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Penguin

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/012-lynx.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lynx

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/013-duck.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Duck

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/014-donkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Donkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/015-cat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Cat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/016-pig.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Pig

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/017-hippopotamus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hippopotamus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/018-goat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Goat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/019-eagle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Eagle

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/020-frog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Frog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/021-horse.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Horse

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/022-panther.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panther

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/023-goose.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Goose

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/024-rhinoceros.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rhinoceros

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/025-porcupine.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Porcupine

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/026-panda.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Panda

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/027-tiger.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Tiger

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/028-zebra.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Zebra

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/029-snake.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Snake

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/030-camel.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Camel

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/031-shark.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Shark

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/032-chameleon.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chameleon

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/033-hen.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Hen

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/034-lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/035-rat.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rat

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/036-otter.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Otter

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/037-monkey.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Monkey

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/038-deer.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Deer

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/039-rabbit.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Rabbit

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/040-owl.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Owl

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/041-sea-lion.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Sea Lion

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/042-bison.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Bison

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/043-kangaroo.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Kangaroo

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/044-gorilla.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Gorilla

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/045-dog.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Dog

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/046-chipmunk.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Chipmunk

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/047-walrus.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Walrus

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/048-giraffe.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Giraffe

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/049-boar.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Boar

				.col-6.col-sm-4.col-md-3.col-lg-2

					.icon-item.text-center

						.icon-item__img

							img(src="img/svg/animals_5/050-turtle.svg" alt="icon")

						h6.icon-item__title.no-margin-bottom Turtle

	// section end

block footer

	include ../blocks/_footer/_footer