extends ../layouts/primary.pug

block variables

	-var page = 'pricing-tables'

	-var dest = 'elements'

block header

	include ../blocks/_menu-dropdown/_menu-dropdown

	include ../blocks/_header/_header

block main

	// promo start

	section.promo-primary

		picture
			source(srcset='img/elements.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/elements.jpg' alt='img')

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Wild World
							h1.promo-primary__title #[span Pricing] #[span Tables]

	// promo end

	// section start

	section.section.elements

		.container
			.row
				.col-xl-10
					h4.elements__title Variant 1

			include ../blocks/_pricing--style-1/_pricing--style-1

	// section end

	// section start

	section.section.elements.no-padding-top

		.container
			.row
				.col-xl-10
					h4.elements__title Variant 2

			include ../blocks/_pricing--style-2/_pricing--style-2

	// section end

block footer

	include ../blocks/_footer/_footer